 <section class="contentSection">

   <div class="center">
        <img src="../images/food in kicthen.jpg">
        <h3 style="font-size: xx-large;">We create original recipes.</h3>
        <p>Our in-house culinary team uses premium ingredients to create unique menus and products for breakfast, lunch, and dinner.</p>
        <br>
    </div>

    <div class="center">
        <img src="../images/laptop.jpg">
        <h3 style="font-size: xx-large;">You choose your preferences.</h3>
        <p>Choose from a variety of healthy, delicious meals each week that accomodate your dietary preferences.</p>
        <br>
    </div>

    <div class="center">
        <img src="../images/food delivery.jpg">
        <h3 style="font-size: xx-large;">We deliver weekly — for free.</h3>
        <p>Your ingredients are packaged in our temperature-conditioned boxes, so food stays fresh - even when you aren't at home.</p>
        <br>
    </div>

    <div class="center">
        <img src="../images/vareity.jpg">
        <h3 style="font-size: xx-large;">You eat incredible meals every day.</h3>
        <p>From a one-minute weekday breakfast to a delicious two-course dinner made with your own hands, our recipes cater to all cooking levels and styles.</p>
        <br>
    </div>

</section>