<footer>
  <div class="footer-grid">
    <div class="footer-col">
      <h4>Navigate</h4>
      <a href="/">Home</a>
      <a href="/onTheMenu">On The Menu</a>
      <a href="/">Pricing</a>
      <a href="/">Our Story</a>
      <a href="/">Careers</a>
    </div>
    <div class="footer-col">
      <h4>Discover</h4>
      <a href="/">Blog</a>
      <a href="/">FAQ</a>
      <a href="/">Our Ingredients</a>
      <a href="/">Gift Cards</a>
    </div>
    <div class="footer-col">
      <h4>Legal</h4>
      <a href="/">Terms of Use</a>
      <a href="/">Privacy Policy</a>
      <a href="/">Purchase Conditions</a>
    </div>
    <div class="footer-col">
      <h4>Get in Touch</h4>
      <p>1 (123) 123-4567</p>
      <p>chef@desikhana.ca</p>
      <div class="footer-social">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-x-twitter"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2024 Desi Khana by Davinder Verma. All rights reserved.</p>
  </div>
</footer>