<div class="heroSection center">
                <img src="images/1.jpg" height="500" width ="1000px">
                <div class="textOnImage">
                    <h1>Try Canada's #1 desi meal</h1>
                    <p>Get farm-fresh ingredients to cook, delicious recipes,deliverd for FREE to your doorsteps.</p>
                <a href="/login"><button>Get Started</button></a>
                </div>
</div> 