 <div class="meals">
                <br>
                <br>
                <h3  class="center" style="font-size: xx-large;">WHAT'S ON THE MENU THIS WEEK</h3>

        {{#each foodInfo}}
                <div class="topMeals">
                        <img src="{{photo}}">
                        {{>food this}} 
                </div>          
        {{/each}}
    
 </div>