<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/css/index.css"/>
    </head>
    <body>
        {{>header}}

        <main>
            {{{body}}}
        </main>

        {{>footer}}
    </body>
</html>