<p class="menuText">Inspired by the freshest ingredients, our chefs create eighteen unique recipes each and every week.</p>
<br>

<h3 class="menuHeading">Classic Meals</h3>

<div class="onTheMenu">
    {{#each classic}}
            <div class="grid">
               <img src="{{photo}}"> 
               <a href="/load-data/{{this.title}}" style="all:unset;">
                 {{>food this}}
               </a>
            </div>
    {{/each}} 

</div>

<br>

<h3 class="menuHeading">Starters</h3>

<div class="onTheMenu">
   {{#each starter}}
            <div class="grid">
      <img src="{{photo}}"> 

               <a href="/load-data/{{this.title}}" style="all:unset;">
                 {{>food this}}
               </a>

            </div>
   {{/each}} 

</div>   
